@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-gray-100 text-gray-700;
		font-family: 'IBM Plex Sans', sans-serif;
  }
}

@layer components {
	.container {
		@apply max-w-7xl mx-auto px-4;
	}
	.wrapper {
		@apply py-10;
	}

	.h1, .h2, .h3, .h4, .h5, .h6 {
		@apply font-bold text-gray-800;
	}
	.h1 {
		@apply text-5xl;
	}
	.h2 {
		@apply text-4xl;
	}
	.h3 {
		@apply text-3xl;
	}
	.h4 {
		@apply text-2xl;
	}
	.h5 {
		@apply text-xl;
	}
	.h6 {
		@apply text-lg;
	}

	.hr {
		@apply my-5 border-gray-100;
	}

	.row {
		@apply -mx-2 flex flex-wrap;
	}
	.col {
		@apply px-2 w-full;
	}
	.row.lg {
		@apply -mx-4;
	}
	.row.lg .col {
		@apply px-4;
	}

	.form {
		@apply mb-4;
	}
	.form small.error {
		@apply text-red-500 mt-2 block;
	}
	.input {
		@apply px-3 py-2 border rounded mt-2 w-full;
	}
	.input:focus {
		@apply ring-2 ring-blue-500 ring-opacity-50 border-blue-500 outline-none;
	}
	.input.error {
		@apply ring-2 ring-red-500 ring-opacity-50 border-red-500;
	}

	.custom-file-hidden {
		@apply hidden;
	}
	.custom-file-input {
		@apply flex border rounded mt-2 cursor-pointer;
	}
	.custom-file-browse {
		@apply bg-gray-100 py-2 px-3 rounded-l;
	}
	.custom-file-placeholder {
		@apply py-2 px-3 text-gray-400;
	}

	.button {
		@apply rounded py-2 px-4;
	}
	.button.black {
		@apply bg-gray-800 text-white;
	}
	.button.red {
		@apply bg-red-600 text-white;
	}
	.button.gray {
		@apply bg-gray-100;
	}
	.button:disabled {
		@apply opacity-50;
	}

	.alert {
		@apply border px-4 py-4;
	}
	.alert .container {
		@apply flex items-center justify-between;
	}
	.alert.alert-b {
		@apply border-none border-b;
	}
	.alert.blue {
		@apply bg-blue-100 text-blue-800 border-blue-200;
	}

	.fade-enter-active, .fade-leave-active {
		transition: opacity 0.25s;
	}

	.fade-enter, .fade-leave-to {
		opacity: 0;
	}

	.dropdown {
		@apply bg-white rounded shadow absolute;
	}
	.dropdown.md {
		@apply w-44;
	}
	.dropdown.right {
		@apply top-12 right-0;
	}
	.dropdown-link {
		@apply px-3 py-2 block w-full text-left;
	}
	.dropdown-link:hover {
		@apply bg-gray-100;
	}
	.dropdown-item:first-child .dropdown-link {
		@apply border-b border-gray-100 rounded-t;
	}
	.dropdown-link:last-child .dropdown-link {
		@apply border-t border-gray-100 rounded-b;
	}

	.card {
		@apply bg-white border rounded;
	}
	.card-body, .card-head, .card-foot {
		@apply p-4;
	}
	.card-head {
		@apply border-b flex items-center justify-between;
	}
	.card-title {
		@apply font-bold text-gray-800;
	}
	.card-foot {
		@apply border-t flex justify-end;
	}

	.modal {
		@apply fixed top-0 left-0 w-full h-screen flex items-center justify-center px-4;
	}
	.modal-overlay {
		@apply bg-black opacity-50 absolute fixed top-0 left-0 w-full h-full;
	}
	.modal-content {
		@apply relative;
	}
	.modal-card {
		@apply border-0 shadow-lg;
	}

	.auth-wrapper {
		@apply my-16;
	}
	.auth-box {
		@apply mx-auto;
	}
}

@screen sm {
	.auth-wrapper {
		@apply my-32;
	}
}
@screen xl {
	.container {
		@apply px-0;
	}
}